<div class="container">
    <mat-card class="mat-card" >
        
          <mat-card-title>{{product.title}}</mat-card-title>
          <img class="image" mat-card-image src="{{product.image}}">
        
        <mat-card-content>
          <p>Ціна: {{product.price}}</p>
          <p>Сорт: {{product.sort}}</p>
          <p>Країна виробник: {{product.configure.place}} </p>
          <p>Дата виготовлення: {{product.configure.date}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="button" mat-flat-button color="primary">В Кошик</button>
          <button class="button" mat-flat-button color="primary" [routerLink]="['/product', product.id]">Детальніше</button>
        </mat-card-actions>
      </mat-card>

</div>